<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Alarm</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="text-align:center;">
        UNDER DEVELOPMENT
        <!-- <br><img src="assets/img/warning.webp" height="100px" width="160px"> -->
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12" style="text-align:center;">
        <br><img src="assets/img/redlight.gif" height="100px" width="160px">
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
